/* AboutMe */
.about .section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: var(--text-bold);
}

.about__text {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
}

/* Skills */
.skills .section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: var(--text-bold);
}

.skills__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem 1rem;
  padding: 20px 0;
  place-items: center;
}

.skills__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills__item .skills__text {
  font-size: 1.1rem;
}

.skills__img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin-bottom: 16px;
}

.skills__img img {
  display: inline-block;
  width: 50px;
}

/* Portfolio */
.portfolio .section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: var(--text-bold);
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 40px;
}

.portfolio__item {
  background-color: var(--bg-secundary);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.portfolio__img-content {
  width: 100%;
  height: auto;
  border-radius: 10px 9px;
  overflow: hidden;
}

.portfolio__img-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 9px;
}

.portfolio__body {
  padding: 20px;
  color: var(--text);
  display: grid;
  gap: 10px;
}

.portfolio__name {
  font-size: 1.2rem;
  margin: 0;
}

.portfolio__link {
  color: var(--text-secundary);
}

/* Contact */
.contact .section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: var(--text-bold);
}

.contact__options {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.contact__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 3;
  background-color: var(--bg-secundary);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: var(--text);
  width: 150px;
  height: 150px;
}

.contact__item i {
  font-size: 3rem;
  color: var(--text);
}

.contact__item span {
  display: block;
}

.btn {
  position: fixed;
  bottom: 0;
  right: 2rem;
  top: 33rem;
}

.btn-whatsapp {
  position: relative;
}

.btn-whatsapp:before,
.btn-whatsapp:after {
  content: "";
  position: absolute;
  top: 2;
  left: 4px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #00e676;
  opacity: 0;
  animation: onda 1.7s infinite;
}

.btn-whatsapp:before {
  animation-delay: 1s;
}

.btn-whatsapp:after {
  animation-delay: 1.3s;
}

.btn-whatsapp img {
  position: relative;
  z-index: 2;
}

@keyframes onda {
  0% {
    transform: scale(1);
  }

  15% {
    opacity: 1;
  }
   100% {
    opacity: 0;
    transform: scale(2.5);
   }
}

@media (max-width: 550px) {
  /* habilidades */
  .skills__item .skills__text {
    font-size: 0.7rem;
  }

  .skills__item .skills__text-name {
    font-size: 0.9rem;
    font-weight: var(--text-bold);
  }
  /* proyectos */
  .portfolio .container {
    max-width: 390px;
  }

  .portfolio__img-content {
    height: 200px;
  }

  .portfolio__body {
    padding: 15px;
    gap: 8px;
  }

  .portfolio__name {
    font-weight: var(--text-bold);
  }

  .portfolio__text {
    font-size: 1rem;
    line-height: 1.6;
  }

  .portfolio__link {
    font-size: 0.9rem;
  }
  /* contact */
  .contact__item {
    width: 120px;
    height: 120px;
  }

  .contact__item i {
    font-size: 2.5rem;
  }
}

@media (max-width: 1024px) {
  /* habilidades */
  .skills__item .skills__text {
    font-size: 0.8rem;
  }

  .skills__item .skills__text-name {
    font-size: 1rem;
    font-weight: var(--text-bold);
  }
  /* proyectos */
  .portfolio__img-content {
    height: 205px;
  }
}
