.nav {
  position: fixed;
  width: 100%;
  height: 5vh;
  display: flex;
  top: 0;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 2rem;
  z-index: 100;
  background-color: var(--bg);
}

.nav--menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav__ul {
  display: flex;
  column-gap: 2rem;
  color: var(--text);
  list-style: none;
  font-size: 1.3rem;
  font-weight: var(--text-bold);
}

.nav__li {
  cursor: pointer;
  transition: background-color .5s, transform .5s;
}

.nav__li > span {
  font-size: 30px;
}

.nav__li > a {
  text-decoration: none;
  color: var(--text);
}

.nav__a.active {
  color: var(--text-secundary);
}

.nav > span {
  display: none;
}

@media (max-width:950px) {

  .nav {
    /* backdrop-filter: none; */
    padding: 2rem 1rem;
  }
 
  .nav>span {
    display: block;
    font-size: 40px;
    cursor: pointer;
    backdrop-filter: blur(10px);
  }

  .nav--menu {
    position: fixed;
    height: auto;
    top: 60px;
    flex-direction: column;
    background-color: var(--bg);
    justify-content: flex-start;
    align-items: flex-end;
    right: 0;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateX(590px);
    transition: background-color 0.5s, transform 0.5s;
  }

  .transalate--menu {
    transform: translateX(0);
  }

  .nav__ul {
    flex-direction: column;
    align-items: end;
    row-gap: 1.5em;
    padding: 2em;
  }

  .nav__ul:nth-child(1) {
    order: 2;
    border-top: 1px solid var(--text);
    width: 100%;
  }

  
  .nav__li {
    font-size: 1.2rem;
  }

}

@media (max-width: 550px) {
  .nav--menu {
    width: 100%;
  }
}















