:root {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  --text-ligth: 300;
  --text-medium: 400;
  --text-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.body--light {
  --bg: #cefdf0;
  --bg-secundary: #f6faff;
  --text: #0d0d0c;
  --text-secundary: #5f2188;

  --orb1: #e046fe;
  --orb2: #3036e1;

  --shadow: rgba(46, 91, 240, 0.4) 5px 5px, rgba(46, 91, 240, 0.3) 10px 10px,
    rgba(46, 91, 240, 0.2) 15px 15px, rgba(46, 91, 240, 0.1) 20px 20px,
    rgba(46, 91, 240, 0.05) 25px 25px;
}

.body--dark {
  --bg: #020012;
  --bg-secundary: #010e1a;
  --text: #fffaed;
  --text-secundary: #ffdc94;

  --orb1: #d400fc;
  --orb2: #0007fd;

  --shadow: rgba(193, 168, 183, 0.3) -5px 5px,
    rgba(193, 168, 183, 0.2) -10px 10px, rgba(193, 168, 183, 0.1) -15px 15px;
}

.body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  max-width: 100%;
}

::selection {
  background-color: var(--text);
  color: var(--bg-secundary);
}

/* Scroll */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 20px;
  border: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--bg);
}

/* Utils */

.section {
  padding: 60px 0;
}

.section__title {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 20px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.portfolio .button {
  font-family: sans-serif;
  background-color: transparent;
  border: 1px solid white;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  height: 50px;
  transition: 0.5s ease;
}

.portfolio .button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}
